.inputGroup {
    position: relative;
    display: inline-flex;
}
.inputGroup svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
    .inputGroup input {
        padding: 9px 10px;
        font-size: 1.4rem;
        border-radius: 5px;
        border: 0;
        outline: 0;
        background-color: #fff;
    }