.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 25px;
    outline: 0;
    border: 0;
    background: none;
    margin: 0 auto 25px auto;
}
@media screen and (max-width:991px) {
    .hamburger {
        display: flex;
    }
}
.hamburger span, .hamburger::before, .hamburger::after {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--black);
}
.hamburger::before, .hamburger::after {
    content: '';
}