.sidebar {
    flex: 1;
    min-width: 17%;
    backdrop-filter: blur(70px) brightness(.9);
    padding: 10px 0;
}
@media screen and (max-width:991px) {
    .sidebar {
        min-width: 60px;
        flex: 0 0;
        width: 60px;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 10;
        transition: .5s;
    }
   
}